@model ITCR.DATIC.SistemaHorasConsulta.Modelo.Horario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Proceso de eliminación de horario:</h2>

<h3>Seguro que desea eliminar el horario de @Html.DisplayFor(model => model.Dia) de @Html.DisplayFor(model => model.HoraInicio) a @Html.DisplayFor(model => model.HoraFinal)?</h3>
<div>
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default pull-right" /> 
        
        </div>
    }
</div>
