@model ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.Administrador
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Proceso de eliminación de usuario</h2>

<h3>Seguro que desea revocar los privilegios de este usuario?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default pull-right" /> 
         
        </div>
    }
</div>
