@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.Administrador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Lista de Administradores</h2>

<p>
    @Html.ActionLink("Agregar Administrador", "Create")
</p>
<div style="margin-bottom: 10px;">
    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Nombre de Usuario" title="Type in a name" style="max-width:100%;">
</div>
<table class="table" id="myTable">
    <tr>
        <th>Usuario</th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Usuario</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdAdministrador }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdAdministrador })
            </td>
        </tr>
    }

</table>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>