@model ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.getTematicas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Proceso de elminación de temática:</h2>

<h3>Seguro que desea eliminar la temática de @Html.DisplayFor(model => model.NombreTematica)?</h3>
<div>
   
    <hr />


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default pull-right" /> 
        
        </div>
    }
</div>
