@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema Horas Consulta</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Imagenes/favicon.ico" />
    <meta name="description" content="Sistema Horas Consulta - Tecnológico de Costa Rica">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="">
    <meta name="author" content="">
    @* Se utiliza en los mensajes de error de logueo NECESARIO *@
    <link href="~/Content/Autenticacion/messages.css" rel="stylesheet" />
    @* Estilo de la animación inicial NECESARIO *@
    <link href="~/Content/Autenticacion/cssAutenticacion.css" rel="stylesheet" />
    @* La animación circular de carga, considerar si es NECESARIO *@
    <link href="~/Content/loadings.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS Escencial para estructar pantalla de logueo-->
    <link href="~/Content/Autenticacion/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS Escencial para estructar pantalla de logueo-->
    <link href="~/Content/Autenticacion/grayscale.css" rel="stylesheet" />
    <link href="~/Content/Autenticacion/radioBotones.css" rel="stylesheet" />
    <link href="~/Content/icons.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div>
        @RenderBody()
    </div>
</body>
</html>