@model ITCR.DATIC.SistemaHorasConsulta.Modelo.Lugare

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Proceso de eliminado de lugar:</h2>

<h3>Seguro que desea eliminar el lugar @Html.DisplayFor(model => model.Nombre)?</h3>
<div>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default pull-right" />

        </div>
    }
</div>
