@model ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.ProfesorInformacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Proceso de eliminación de profesor:</h2>

<h3>Seguro que desea eliminar a @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.PrimerApellido)  @Html.DisplayFor(model => model.SegundoApellido)?</h3>
<div>

    <hr />
   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default pull-right" /> 
           
        </div>
    }
</div>
