@model ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.getTematicas
    @{
        ViewBag.Title = "AgregarEspecialidades";
        Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
    }

    <h2>Agregar especialidades de temática</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="Especialidades" class="control-label col-md-2">Campos de atención en temática </label>

                <div class="col-md-10">

                    <textarea class="form-control"
                              id="Especialidades"
                              name="Especialidades"
                              rows="2"
                              cols="20"></textarea>
                </div>
                <input type="hidden" hidden  id="IdTematica" name="name" value=@Model.IdTematica />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" onclick="asociar()" value="Asociar" class="btn btn-default pull-right" />
                </div>
            </div>
        </div>
    }
    <script>
        function asociar() {
            var especialidades = $('#Especialidades').val();
            var id = $('#IdTematica').val();

            var URL = '';
            var lastChar = URL.charAt(URL.length - 1);
            if (lastChar === "/") {
                URL = URL + 'Administrador/TematicaProfesor/';
            } else { URL = URL + '/Administrador/TematicaProfesor/'; }
            var datos = [especialidades, id];
            $.ajax({
                type: "POST",
                url: URL,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(datos),
                dataType: "json",
                success: function (msg) {
                    resultado = msg.Success;
                    if (resultado == "True") {
                        window.location.href = '@Url.Action("AsociarTematica", "Administrador", new { id = Session["IdProfeTemp"] }, null)';
                    } else {
                        alert('Algo salió mal')
                    }
                },
               
        });
        };
    </script>
