@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.getTematicas>
@{
    ViewBag.Title = "AsociarTematica";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Temáticas disponibles para asociar a @Session["NombreProfeTemp"]</h2>


<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Especialidades
        </th>
  
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTematica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)</td>
         
            <td>
                @Html.ActionLink("Agregar", "AgregarEspecialidades", new { id = item.IdTematica }, null)


            </td>
        </tr>
    }

</table>
