@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.getTematicas>
@{
    ViewBag.Title = "SeleccionarTematica";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="container3">
                @foreach (var tematica in Model)
                {

                    <div class="element-card">
                        <div class="front-facing">
                            <h6> @tematica.NombreTematica</h6>
                            <p class="title"></p>

                        </div>
                        <div class="back-facing">
                            @Html.ActionLink("Seleccionar", "SeleccionarProfesor", new { idTematica = tematica.IdTematica }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                }


                </div>

        </div>
    </div>
</div>
